:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --minor-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --background-btn-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --border-potfolio-color: #eeeeee;
  --border-header-color: #ececec;
  --benefits-icon-bg-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --footer-icon-bc: rgba(255, 255, 255, 0.1);
  --bg-work-text-color:rgba(47, 48, 58, 0.8);
  --bg-example-box-color: rgba(33, 150, 243, 0.9);
  --time-duration: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --sign-placeholder-color: rgba(255, 255, 255, 0.6);
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.current-link {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 94px 0;
}
/* ---------------------------------------Шапка сайту--------------------------------- */
.box-header,
.header-nav,
.header-nav-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header {
  color: var(--logo-header-color);
}
.header-nav-list {
  margin-left: 93px;
}

.header-logo-link {
  padding: 24px 0;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color var(--time-duration) var(--time-function);
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav .header-nav-item:last-child {
  margin-right: 0;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.current-link {
  color: var(--accent-color);
  position: relative;
}
.current-link::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts-mail,
.header-contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-duration) var(--time-function);
}

.header-contacts-mail:hover,
.header-contacts-mail:focus,
.header-contacts-tel:hover,
.header-contacts-tel:focus {
  color: var(--accent-color);
}
.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.page-header {
  border: 1px solid var(--border-potfolio-color);
}
/* ----------------------------------------Блок Герой--------------------------------- */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: 
  linear-gradient(to right, 
  rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)),
  url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .container {
  width: 696px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--minor-text-color);
  margin-bottom: 30px;
  font-weight: 900;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--minor-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  display: block;
  margin: 0 auto;
  transition: background-color var(--time-duration) var(--time-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* ------------------------------------Переваги------------------------------------ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefit-icon {
  width: 70px;
  height: 70px;
}
.benefit-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--benefits-icon-bg-color);
  border-radius: 4px;
}

.benefits-list {
  display: flex;
}
.benefits-list .benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-item {
  flex-basis: calc((100% -3 * 30px) / 4);
}

.benefits-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ----------------------------------Чим займаємось-----------------------------*/
.work {
  padding-top: 0;
}
.team {
  background-color: var(--team-background-color);
}
.work-list {
  display: flex;
  gap: 30px;
}

.work-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-item {
  position: relative;
}
.work-text {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--minor-text-color);
width: 100%;
height: 70px;
background-color: var(--bg-work-text-color);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
}
/* --------------------------------------Наша команда -----------------------------*/
.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-description {
padding: 30px; 0
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.soc-net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-net-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: transparent;
  color: var(--icon-color);
  background-color: var(--main-background-color);
  transition: color var(--time-duration) var(--time-function), background-color var(--time-duration) var(--time-function);
}

.soc-net-link:hover,
.soc-net-link:focus {
  color: var(--minor-text-color);
  background-color: var(--accent-color); 
}
.team-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  flex-basis: calc((100% - 5 * 30px) / 6);
  height: 92px;
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  outline: transparent;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--time-duration) var(--time-function), border-color var(--time-duration) var(--time-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color); 
}
.icon-company {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* --------------------------------------Футер-------------------------------- */
.footer-box {
display: flex;
align-items: baseline;
}
.logo-footer-link {
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--minor-text-color);
}
.footer-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-text-color);
  margin-bottom: 9px;
}

.footer-contacts-mail,
.footer-contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color var(--time-duration) var(--time-function);
}
.footer-contacts-mail {
  margin-bottom: 9px;
}
.footer-contacts-mail:hover,
.footer-contacts-tel:hover,
.footer-contacts-mail:focus,
.footer-contacts-tel:focus {
  color: var(--accent-color);
}
/*Фон для Героя та Футера */
.hero,
.footer {
  background-color: var(--secondary-background-color);
}
/* -------------------------Приєднуйтесь-------------------- */
.join-box {
  margin-left: 70px;
}
.join-text, .sign-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--minor-text-color);
  margin-bottom: 20px;
}
.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: transparent;
  color: var(--minor-text-color);
  background-color: var(--footer-icon-bc);
  transition: background-color var(--time-duration) var(--time-function);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color); 
}
.join-icon {
  fill: currentColor;
}
/* ------------------підпишись----------------- */
.sign-box {
  margin-left: auto;
}
.sign-form {
  display: flex;
  align-items: center;
}
.sign-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
outline: transparent;
padding: 15px 0 15px 16px;
margin-right: 12px;
transition: border-color var(--time-duration) var(--time-function);
}
.sign-input:focus {
  border-color: var(--accent-color);
}
.sign-input::placeholder {
  font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: var(--sign-placeholder-color);
}
.sign-btn {
  font-family: inherit;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--minor-text-color);
background-color: var(--accent-color);
border-radius: 4px;
border: none;
position: relative;
transition: background-color var(--time-duration) var(--time-function);
}
.icon-sign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}
.sign-btn:hover,
.sign-btn:focus {
  background-color: var(--secondary-accent-color);
}
/* --------------------------------Стилі для модального вікна -------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bg-color);
  transition: opacity var(--time-duration) var(--time-function), visibility var(--time-duration) var(--time-function);
}
.modal-window {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.close-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-background-color);
  border:1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill var(--time-duration) var(--time-function);
}
.icon-X {
  width: 11px;
  height: 11px;
  align-items: center;
  justify-content: center;
}
.close-btn:hover,
.close-btn:focus {
  fill:var(--accent-color);
}
.modal-title {
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 12px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* -----------------------Форма в модальному вікні-------------- */
.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 42px;
outline: transparent;
transition: border-color var(--time-duration) var(--time-function);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-label {
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--secondary-text-color);
margin-bottom: 4px;
}
.input-box {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time-duration) var(--time-function);
}
.modal-text {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 16px;
outline: transparent;
transition: border-color var(--time-duration) var(--time-function);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::placeholder{
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color:var(--modal-placeholder-color);
}
.form-field-check {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.label-check {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
display: flex;
align-items: center;
}
.modal-policy-link {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 7px;
  text-decoration-color: var(--accent-color);
}
.label-check span {
width: 16px;
  height: 15px;
border: 2px solid #000000;
border-radius: 2px;
margin-right: 8px;
display: flex;
align-items: center;
justify-content: center;
transition: border-color var(--time-duration) var(--time-function);  
}
.check-icon {
  fill: transparent;
  transition: fill var(--time-duration) var(--time-function);
}
.modal-check:checked + .label-check span {
background-color: var(--accent-color);
border-color: none;
}
.modal-check:checked + .label-check .check-icon {
  fill: var(--minor-text-color);
}
.modal-check:focus + .label-check span {
border-color: var(--accent-color)
}
.modal-form-btn {
  font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: block;
text-align: center;
color: var(--minor-text-color);
letter-spacing: 0.06em;
width: 200px;
height: 50px;
background-color: var(--accent-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
cursor: pointer;
border: transparent;
margin: 30px auto 0;
transition: background-color var(--time-duration) var(--time-function);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* --------------------------------------ПОРТФОЛІО ------------------------------*/
.portfolio-btn-list {
  margin-bottom: 50px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-btn-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  border: transparent;
  transition: color var(--time-duration) var(--time-function), background-color var(--time-duration) var(--time-function), box-shadow var(--time-duration) var(--time-function);
}
.portfolio-btn:hover,
.portfolio-btn:focus,
.current-portfolio-btn {
  color: var(--minor-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn-list .portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
/* ---------------------------------------Приклади робіт -----------------------*/
.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.example-item:nth-child(3n) {
  margin-right: 0;
}
.example-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.example-thumb {
  position: relative;
  overflow: hidden;
}
.example-overlay {
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color: var(--minor-text-color);
background-color: var(--bg-example-box-color);
width: 100%;
height: 100%;
padding: 63px 24px;
position: absolute;
top: 0;
left: 0; 
transform: translateY(101%);
transition: transform var(--time-duration) var(--time-function);
overflow: auto;
}
.example-description {
  padding: 20px 24px;
  border: 1px solid var(--border-potfolio-color);
}

.example-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color); 
}
.example-link {
  display: inline-block;
  transition: box-shadow var(--time-duration) var(--time-function);
}
.example-link:hover,
.example-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.example-link:hover .example-overlay,
.example-link:focus .example-overlay {
  transform: translateY(0);
}

