$.filter__list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $background-btn-color;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  border: transparent;
  transition: color $time-duration $time-function,
    background-color $time-duration $time-function,
    box-shadow $time-duration $time-function;
  &:hover,
  &:focus,
  &--current {
    color: $minor-text-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.filter__list .filter__item:not(:last-child) {
  margin-right: 8px;
}
